<div class="outer-grid-container">
  <div class="image-container">
    <img class="small-logo" src="./assets/LogoSmall.png">
  </div>
  <h1 class="header">Add a Free Parking Area!</h1>
    <p class="add-text">Your current location is:</p>
    {{leaflet-map lot=model}}
    {{lots-create lot=model action='sendLotRating'}}
</div>

{{outlet}}
