<div class="addContainer">
  <img class="smallLogo" src="./assets/LogoSmall.png">
  <h1 class="header">Add a Lot!</h1>
  <div class="map">
    <p class="add-text">Your current location is:</p>
    {{leaflet-map}}
  </div>
    {{lots-create lot=model action='sendLotRating'}}
</div>

{{outlet}}
