<div class="outer-grid-container">
  <div class="image-container">
    <img class="small-logo" src="./assets/LogoSmall.png">
  </div>

  <h1 class="header">Find a Free Parking Area!</h1>

  <p class="text">Currently community-submitted free parking lots are:</p>
  {{lots-show lots=model}}
</div>

{{outlet}}
