<div class="addContainer">
  <img class="smallLogo" src="./assets/LogoSmall.png">
  <h1 class="header">Add a Lot!</h1>
  <div class="map">
    <p class="add-text">Your current location is:</p>

    {{google-map latitude=model.latitude longitude=model.longitude}}

    {{user-location model=model}}
  </div>
  <form class="add-form">
    <textarea class="add-form-input add-form-description" type="text" placeholder="Enter a description of this parking lot"></textarea>
    <div class="activity-container">
      <ul class="activityList">
        <li class="activityCheck">
          <input class="add-form-input add-form-biking"type="checkbox" name="day" value="biking">Is this lot near biking paths?
        </li>
        <li class="activityCheck">
          <input class="add-form-input add-form-walking"type="checkbox" name="day" value="walking"> Is this lot near walking paths?
        </li>
        <li class="activityCheck">
          <input class="add-form-input add-form-publictransit"type="checkbox" name="day" value="publictransit"> Is this lot near public transit?
        </li>
      </ul>
    </div>
    <div class="rateIt">
      <p>Rate this lot's safety from 1 to 10</p>
      <select class="safety" name="safety">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <input  class="add-form-submit" type="submit" value="Submit this lot!" {{action 'submit'}}>
    </div>
  </form>
</div>

{{outlet}}
