<h1 class="index-header">Welcome to ParkFreely</h1>

<h2 class="index-mission">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</h2>


<p class="index-text">Choose below if you want to add a new lot or search our database of lots</p>
{{#link-to 'add'}}
  <button class="index-button-addroute">Add a Lot</button>
{{/link-to}}
{{#link-to 'search'}}
<button class="index-button-searchroute">Search User-Submitted Lots</button>
{{/link-to}}
{{outlet}}
